            <% if workout.pictures.attached?%>
                <% workout.pictures.each do |picture| %>
                    <p>
                        <%= image_tag picture, width: 120 %>
                    </p>
                <%end%>
            <%end %>